<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8"/>

    <!--Bootstrap and CSS-->
        <link type="text/css" rel="stylesheet" href="styles.css"/>
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/logic.js"></script>
        <script src="https://d3js.org/d3.v6.min.js"></script>
    </head>   

    <!--Navbar-->
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/" >ABOUT</a>

            <div class="collapse navbar-collapse" id="navbarSupportContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href ="/map">AIR QUALITY MAP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plots">VISUALIZATIONS</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>

    <!--Container-->
    
    <div class ="container content-wrapper">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="Project_2/Project_2/AQLR-good-air-icon.png" width="25%">
                </div>
            </div>
            <div class="col-md-8">
                <div class="data">
                    <h3 class="header">Data Sources</h3>
                    <li><a href="https://www.airnow.gov/aqi/aqi-basics/">Air Now <i class="fas fa-external-link-alt"></i></a></li>
                    <li><a href="https://aqs.epa.gov/aqsweb/airdata/download_files.html#AQS/">AQS <i class="fas fa-external-link-alt"></i></a></li>
                    <li><a href="https://aqs.epa.gov/aqsweb/documents/data_api.html">AQS Data <i class="fas fa-external-link-alt"></i></a></li>
                </div>
            </div>
        </div>

    <div class="col-md-12">
        <h3 class="header">Air Pollution in the United States</h3>
        <p><strong>How is air quality measured?</strong>Air quality is measured with the Air Quality Index or <strong>AQI</strong> for short. The AQI works like a thermometer that runs from 0 to 500 degrees. However, instead of showing changes in the temperature, the AQI is a way of showing changes in the amount of pollution in the air. Air quality is a measure of how clean or polluted the air is</p>
        <br>
        <p><strong>What is polluting the air?</strong>Potentially, air pollutants can be found in air anywhere - outdoors and indoors. Air pollutants can be divided into three groups:</p>
        <br>
        <p><ul>
                <li>Criteria pollutants</li>
                <li>Air toxics</li>
                <li>Biological pollutants</li>
            </ul>
            <br>
            </p>
        <h3 class="header">Criteria Pollutants</h3>
            <p>Criteria air pollutants is a term used internationally to describe air pollutants that have been regulated and are used as indicators of air quality. The regulations or standards are based on criteria that relate to health and/or environmental effects. One key feature of criteria air pollutants is that they are generally widely distributed across the country.</p>
            <br>
            <p>There are six criteria air pollutants:</p>
            <p><ul>
                <li>Carbon monoxide</li>
                <li>Lead</li>
                <li>Nitrogen dioxide</li>
                <li>Ozone</li>
                <li>Particles</li>
                <li>Sulfur dioxide</li>
            </ul>
        </p>
        <h3 class="header">Air Toxics</h3>
            <p>Air toxics are sometimes referred to as "hazardous air pollutants." Air toxics are defined as gaseous, aerosol or particualte pollutants that are present in the air in low concentrations with characteristics such as toxicity or persistence so as to be hazard to human, plant or animal life.</p>
            <br>
            <p>Sources of air toxics include motor vehicle emissions, solid fuel combustion, industrial emissions, and materials such as paints and adhesives in new buildings. Air toxics have the potential to cause serious harm to human health and/or the environment.</p>
            <br>
        <h3 class="header">Biological Pollutants</h3>
            <p>Biological pollutants arise from pollutants that are caused naturally and without human participation. These pollutants can be caused by livestock and viruses.  </p>
        </main>
    </body>
</html>