<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Quality Map</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!--Navbar-->
    <body>
        <!--Navbar adjustments-->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">               
                <a class="navbar-brand" href="/" >ABOUT</a>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">    
                        <li class="nav-item">
                            <a class="nav-link" href ="/map">AIR QUALITY MAP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/plots">VISUALIZATIONS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div><h6 class="subtitle">Air Quality in the United States From Each State</h6>
        </div>
        <div id="map"></div>




        <!--GeoJson-->
        <script type="text/javascript" src="   "></script>

        <!--JS-->
        <script type="text/javascript" src="   "></script>
</head>
</html>